$light: #fff;
$light-10: #e8e8e8;
$dark: #232323;
$dark-transparent: rgba(35, 35, 35, .9);
$dark-10: #333;
$primary: #5474fd;
$primary-10: #496bfe;
$primary-20: #00a2ff;
$danger: #ff6363;
$secondary: #999
