// ***** Media queries *****

@media screen and (min-width: 769px) {

        // ***** Header Input Field *****

        .input-field {
            min-width: 48rem;

            &__placeholder {
                padding: 1.3rem 1rem;
                font-size: 1.2rem;
                letter-spacing: .15rem;    
            }

            &__button {
                padding: 1.3rem 1.1rem;
                font-size: 1.2rem;
                letter-spacing: .15rem;    
            }
        }

        // ***** How It Works *****
    
        .works {
            height: 26rem;
    
            &__arcs-wrapper {
                width: 50rem;
                height: 12rem;
            }
    
            &__icon-wrapper {
                width: 56rem;
                height: 14rem;
            }
    
            &__icon {
                font-size: 4rem;
            }
    
            &__text {
                width: 76rem;
                height: 10rem;
            }
    
            &__sub-heading {
                @include heading-2;
            }
        }
    
    // ***** Spain *****
    
    .spain {
        align-items: flex-end;

            &-box {
                width: 54rem;
                height: 38rem;

            &__content {
                height: 70%;
            }
        }
    }
}

@media screen and (min-width: 880px) {

    // ***** Our Tourist *****

    .tourist {

        &-wrapper {
            position: static;
        }

        &__wrapper {
            height: 80%;
        }

        &-container {
            display: flex;
        }

        &__image {
            width: 44.5rem;
            height: 28.4rem;
        }

        &__heading-container {
            width: auto;
            height: 12rem;
            display: flex;
            align-items: flex-end;
        }

        &-box {
            width: 100%;
            height: 100%;
            position: static;
            justify-content: flex-end;
            padding-right: 1rem;

            &__paragraph {
                line-height: 2.2rem;
            }
        }
    }
    
    .quote-icon {
        font-size: 2.8rem;
    }
}

@media screen and (min-width: 993px) {

    // ***** Header *****

    .header {

        &__heading {
            font-size: 4.8rem;
        }

        &__sub-heading {
            font-size: 2.2rem;
            letter-spacing: .68rem;
        }

        &__scroll--text {
            font-size: 1.4rem;
            padding-top: 4rem;
        }
    }

    .fa-chevron-down {
        font-size: 1.4rem;
    }

// ***** Header Input Field *****

    .input-field {
        min-width: 62rem;
        margin-top: 4rem;
        margin-bottom: 4rem;

        &__placeholder {
            min-width: 80%;
            font-size: 1.4rem;
            letter-spacing: .28rem;
            padding: 1.7rem 1rem;
        }

        &__button {
            min-width: 20%;
            font-size: 1.4rem;
            letter-spacing: .14rem;
            padding: 1.7rem 1.1rem;
        }
    }

    // ***** Navigation *****

    .navbar {
        height: 8.3rem;
        position: sticky;
        display: flex;
        justify-content: space-between;
        border: none;

        &-collapse {
            max-width: 52rem;
            display: flex;
            justify-content: center;
            margin-right: 3rem;
        }

        &-nav {
            width: 100%;
            justify-content: space-between;
        }

        &-brand {            
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.6rem;
            letter-spacing: .24rem;
        }

        .nav-link {
            font-size: 1.2rem;
            line-height: 2rem;
        }
    
    }
    
    .container-fluid {
        width: 85%;
    }

    // ***** Why Choose Us *****

.choose-us {
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 45rem;
    }

    &__content-container {
        width: 50%;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    
    &__text-container {
        max-width: 78%;
        min-height: 38rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__heading {
        @include heading-2--laptop;
    }

    &__text {
        @include paragraph--laptop;
    }

    &__images-container {
        min-width: 43rem;
        height: 100%;
    }

    &__images {
        max-width: 100%;
    }
}

    // ***** How It Works *****
    //***** Deviation from Wireframe, top white-space added.

    .works {
        height: 38rem;

        &__arcs-wrapper {
            width: 77rem;
            height: 18rem;
        }
        
        &__icon-wrapper {
            width: 77rem;
            height: 18rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: absolute;
            top: 2rem;
            left: auto;
            right: auto; 
        }
    
        &__text {
            width: 90rem;
            height: 10rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
        }

        &__sub-heading {
            @include heading-2--laptop;
        }

        &__icon {
            font-size: 5rem;
        }
    }

    // ***** Spain *****

    .spain-box__paragraph {
        @include paragraph--laptop;
    }

    // ***** Our Tourist *****

    .tourist-box__paragraph {
        @include paragraph--laptop;
    }

    .tourist__heading {
        @include heading-2--laptop;
    }

    // ***** Footer *****

    .footer {
        &__heading {
            font-size: 2.4rem;
        }

        &__sub-heading {
            @include paragraph--laptop;
        }
    }
}
