@media screen and (min-width: 1270px) {

    // ***** Navigation *****

    .nav-link {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }

    // ***** Why Choose Us *****

    .choose-us {

        &__wrapper {
            width: 63%;
        }
    
        &__images-container {
            min-width: 43rem;
            align-items: flex-start;
        }

        &__images {
            max-width: 73%;
        }

        &__images--bottom {
            align-self: flex-end;
        }    
    }

    // ***** Spain *****    

    .spain {
        width: 49.6%;
        justify-content: flex-end;

        &-bottom {
            justify-content: flex-end;
        }

        &--bottom {
            justify-content: flex-start;
        }

        &-box__site {
            @include heading-3-desktop;
        }
    }

    // ***** Our Tourist *****

    .tourist {

        &-container {
            max-width: 1100px;
        }

        &-box__sub-heading {
            @include heading-3-desktop;
        }

        &-box__paragraph {
            line-height: 2.6rem;
        }
    }
        
    .quote-icon {
        font-size: 3.5rem;
    }
}
