// ***** Media queries *****

@media screen and (min-width: 481px) {

    body {
        margin: 1.4rem;
    }

    .navbar{
        border-top: 1.4rem solid colours.$headings;
        border-right: 1.4rem solid colours.$headings;
        border-left: 1.4rem solid colours.$headings;    
    }

    .spain-box__description {
        font-size: 1.4rem;
        line-height: 2.6rem;
        letter-spacing: .08rem;
    }

    .button {
        align-self: flex-start;

        &--large {
            font-size: 1.6rem;
            padding-top: 1.4em;
            padding-bottom: 1.2em;
        }
    }   
}

