// ***** Authored Dependencies *****

@use "colours";
@use "fonts";
@import "mixin";

// ***** Generic *****

:root {
    font-size: 62.5%;
}

body {
    margin: 1.4rem;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

// ***** Header *****

.header {
    background-image: url("../images/header.png");
    width: 100%;
    height: 82rem;
    background-size: cover;
    background-position: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__text {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        font-size: 2.5rem;
        color: colours.$headings;
        font-family: fonts.$main;
        letter-spacing: .48rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__sub-heading {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .68rem;
        color: colours.$headings;
        font-family: fonts.$main;
    }

    &__scroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__scroll--text {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .28rem;
        color: colours.$headings;
        font-family: fonts.$main;
        margin-bottom: 0;
    }
}

.fa-chevron-down {
    font-size: 1rem;
    color: colours.$headings;
}

// ***** Header Input Field *****

.input-field {
    display: flex;
    align-items: center;
    min-width: 26rem;
    border: 1px solid colours.$headings;
    margin-bottom: 2rem;

    &__placeholder {
        min-width: 70%;
        font-family: fonts.$main;
        font-size: 1rem;
        font-weight: 400;
        color: colours.$placeholder;
        padding: 1rem;
    }

    &__button {
        min-width:30%;
        font-family: fonts.$secondary;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
        background-color: colours.$bhromaon-blue;
        text-decoration: none; 
        color: colours.$headings;
        padding: 1.1rem;

        &:hover {
            background-color: darken(colours.$bhromaon-blue, $amount: 10);
            color: darken(colours.$headings, $amount: 10);
        }
    }

.fa-search {
    padding-left: .5rem;
}

}

// ***** Navigation *****

.navbar {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    background-color: colours.$bhromaon-blue;
    position: absolute;
    top: 0;

    &-brand {
        font-family: fonts.$main;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: .14rem;
        text-transform: uppercase;
        color: colours.$headings;
        padding-left: .5rem;
    }

    &-toggler-icon {
        font-size: 2.6rem;
        color: colours.$headings;
        padding-top: .5rem;
    }

    &-collapse {
        background-color: colours.$bhromaon-blue;
        padding-left: 1.5rem;
    }
}

.nav-link {
    font-family: fonts.$secondary;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    color: colours.$headings;
}

// ***** Why Choose Us *****

.choose-us {
    background-image: url("../images/why-choose-us.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 68.5rem;
    background-position: 13%;
}

// ***** How It Works *****

.works {
    width: 100%;
    height: 24rem;
    background-color: colours.$bg-twilight;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;


    &__arcs-wrapper {
        width: 20rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__arcs {
        width: 100%;
    }

    &__icon {
        font-size: 2rem;
        background-color: colours.$bg-twilight;
        padding: 1rem;

        &--search{
            color: colours.$bhromaon-blue;
        }

        &--check {
            color: colours.$icon-check;
        }

        &--thumb {
            color: colours.$icon-thumb;
        }

    }

    &__icon-wrapper {
        width: 24rem;
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        top: 2rem;
        left: auto;
        right: auto; 
    }

    &__text {
        width: 26rem;
        height: 6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
    }

    &__heading {
        font-family: fonts.$secondary;
        font-weight: 400;
        font-size: 1rem;
        line-height: .26rem;
        color: colours.$text;
    }
}

// ***** Spain *****

.spain-top {
    background-image: url("../images/spain-top.png");
    background-repeat: no-repeat;
    min-width: 100%;
    height: 70rem;
    background-position: 13%;
}

.spain-bottom {
    background-image: url("../images/spain-bottom.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 70rem;
    background-position: center;
}

// ***** Our Tourists *****

.our-tourists {
    background-image: url("../images/our-tourists.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 73.1rem;
    background-position: 20%;    
}

// ***** Footer *****

.footer {
    width: 100%;
    height: 27.1rem;
    background-color: colours.$bg-dark;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        width: 25rem;
        height: 68%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &__social {
        width: 20rem;
        height: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__heading {
        font-family: fonts.$main;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.6rem;
        letter-spacing: .34rem;
        text-transform: uppercase;
        color: colours.$headings;
    }

    &__sub-heading {
        font-family: fonts.$main;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.6rem;
        text-align: center;
        letter-spacing: .16rem;
        color: colours.$headings;
    }

    &__icon {
        font-size: 1.6rem;
        color: colours.$text;
    }

    &__icon--alt-colour {
        color: colours.$bhromaon-blue;
    }

}

// ***** Media queries *****

@media screen and (min-width: 993px) {

    // ***** Header *****

    .header {

        &__heading {
            font-size: 4.8rem;
        }

        &__sub-heading {
            font-size: 2.2rem;
            letter-spacing: .68rem;
        }

        &__scroll--text {
            font-size: 1.4rem;
        }
    }

    .fa-chevron-down {
        font-size: 1.4rem;
    }

// ***** Header Input Field *****

    .input-field {
        min-width: 65rem;

        &__placeholder {
            font-size: 1.4rem;
        }

        &__button {
            font-size: 1.4rem;
        }
    }

    // ***** Navigation *****

    .navbar {
        height: 8.3rem;
        position: sticky;
        display: flex;
        justify-content: space-between;

        &-collapse {
            max-width: 60%;
            display: flex;
            justify-content: center;
            padding: 0;
        }

        &-nav {
            width: 100%;
            justify-content: space-between;
        }

        &-brand {            
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.6rem;
            letter-spacing: .24rem;
        }

        .nav-link {
            font-size: 1.2rem;
            line-height: 2rem;
        }
    
    }
    
    .container-fluid {
        width: 70%;
    }

    // ***** Why Choose Us *****

.choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

    // ***** How It Works *****

    .works{

        &__arcs {
            width:100%;  
        }

        &__arcs-wrapper {
            width: 77rem;
            height: 14rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        
        &__icon-wrapper {
            width: 77rem;
            height: 14rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: absolute;
            top: 2rem;
            left: auto;
            right: auto; 
        }
    
        &__text {
            width: 90rem;
            height: 10rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
        }

        &__heading {
            font-size: 3.6rem;
            line-height: .26rem;
        }

        &__icon {
            font-size: 5rem;
        }
    }

    // ***** Footer *****

    .footer {
        &__heading {
            font-size: 2.4rem;
        }

        &__sub-heading {
            font-size: 1.6rem;
        }
    }
    
}

@media screen and (min-width: 1200px) {

    // ***** Navigation *****
    
    .nav-link {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
}
